# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/out/
/build/
/.idea/
/.settings/
/.metadata/
/target/
.project
.classpath
*.iml
.DS_store
package-lock.json
node_modules/
node_modules\